In [1]:
!pip install bert-for-tf2
!pip install sentencepiece

Collecting bert-for-tf2
  Using cached bert-for-tf2-0.14.5.tar.gz (40 kB)
Collecting py-params>=0.9.6
  Using cached py-params-0.9.7.tar.gz (6.8 kB)
Collecting params-flow>=0.8.0
  Using cached params-flow-0.8.2.tar.gz (22 kB)
Requirement already satisfied: numpy in c:\users\soory\.conda\envs\tf\lib\site-packages (from params-flow>=0.8.0->bert-for-tf2) (1.19.1)
Requirement already satisfied: tqdm in c:\users\soory\.conda\envs\tf\lib\site-packages (from params-flow>=0.8.0->bert-for-tf2) (4.48.2)
Building wheels for collected packages: bert-for-tf2, py-params, params-flow
  Building wheel for bert-for-tf2 (setup.py): started
  Building wheel for bert-for-tf2 (setup.py): finished with status 'done'
  Created wheel for bert-for-tf2: filename=bert_for_tf2-0.14.5-py3-none-any.whl size=30321 sha256=053f42c19198c05b0c0300203e61fa2e4f97c2b79fc811bcd2e5cf21359f53be
  Stored in directory: c:\users\soory\appdata\local\pip\cache\wheels\b2\59\55\26a1acfa05bd61bc2da49333c3a8c0ba01465ad34471991459
  Building wheel for py-params (setup.py): started
  Building wheel for py-params (setup.py): finished with status 'done'
  Created wheel for py-params: filename=py_params-0.9.7-py3-none-any.whl size=7306 sha256=54fe9052b1823384a19b226cdc0cc3e3b104b14cbcd98b9fd037306d8c696594
  Stored in directory: c:\users\soory\appdata\local\pip\cache\wheels\47\3d\2d\bbffcfd6b9f4b8b5cbf07e7520ac2676192fe9431240c13ee8
  Building wheel for params-flow (setup.py): started
  Building wheel for params-flow (setup.py): finished with status 'done'
  Created wheel for params-flow: filename=params_flow-0.8.2-py3-none-any.whl size=19477 sha256=68dd974fdc1296b135809665dd28406e0ed8c6dc7a2647e10d4eb37ddbb309b9
  Stored in directory: c:\users\soory\appdata\local\pip\cache\wheels\0e\fc\d2\a44fff33af0f233d7def6e7de413006d57c10e10ad736fe8f5
Successfully built bert-for-tf2 py-params params-flow
Installing collected packages: py-params, params-flow, bert-for-tf2
Successfully installed bert-for-tf2-0.14.5 params-flow-0.8.2 py-params-0.9.7
Collecting sentencepiece
  Downloading sentencepiece-0.1.91-cp37-cp37m-win_amd64.whl (1.2 MB)
Installing collected packages: sentencepiece
Successfully installed sentencepiece-0.1.91

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import re
import tensorflow as tf

In [4]:


from tensorflow.keras import layers
import bert

In [5]:
x="Hi hello how are you"
print(len(x.split()))

5

In [6]:
url="https://raw.githubusercontent.com/Sooryak12/FakeReviewDetectionLSTM/master/selected.txt"

In [7]:
df=pd.read_csv(url,delimiter="\t")
df.head()

,DOC_ID,LABEL,RATING,VERIFIED_PURCHASE,PRODUCT_CATEGORY,PRODUCT_ID,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
0,1,__label1__,4,N,PC,B00008NG7N,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav..."
1,2,__label1__,4,Y,Wireless,B00LH0Y3NM,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...
2,3,__label1__,3,N,Baby,B000I5UZ1Q,"Fisher-Price Papasan Cradle Swing, Starlight",doesn't swing very well.,I purchased this swing for my baby. She is 6 m...
3,4,__label1__,4,N,Office Products,B003822IRA,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...
4,5,__label1__,4,N,Beauty,B00PWSAXAM,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...

In [8]:
df.isnull().sum()

DOC_ID               0
LABEL                0
RATING               0
VERIFIED_PURCHASE    0
PRODUCT_CATEGORY     0
PRODUCT_ID           0
PRODUCT_TITLE        0
REVIEW_TITLE         0
REVIEW_TEXT          0
dtype: int64

In [9]:
df["PRODUCT_CATEGORY"].value_counts()

Musical Instruments       700
Kitchen                   700
Office Products           700
Video Games               700
Watches                   700
Luggage                   700
Grocery                   700
Wireless                  700
Sports                    700
Home                      700
Furniture                 700
Toys                      700
Tools                     700
Health & Personal Care    700
Automotive                700
Jewelry                   700
Beauty                    700
Home Improvement          700
Books                     700
Video DVD                 700
Pet Products              700
Baby                      700
Outdoors                  700
Camera                    700
Apparel                   700
Electronics               700
Home Entertainment        700
PC                        700
Shoes                     700
Lawn and Garden           700
Name: PRODUCT_CATEGORY, dtype: int64

In [10]:
df["LABEL"]=df["LABEL"].replace(['__label2__','__label1__'],['0','1'])

In [11]:
dfs=df[["REVIEW_TEXT","LABEL","PRODUCT_CATEGORY"]]
dfs = dfs.rename(columns={'REVIEW_TEXT': 'reviews',"LABEL":"label","PRODUCT_CATEGORY":"cat"})

In [12]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21000 entries, 0 to 20999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   reviews  21000 non-null  object
 1   label    21000 non-null  object
 2   cat      21000 non-null  object
dtypes: object(3)
memory usage: 492.3+ KB

In [13]:
dfs["label"].value_counts()

0    10500
1    10500
Name: label, dtype: int64

In [14]:
dfs["label"]=dfs["label"].astype(np.float32)

In [15]:
def preprocess_text(sen):
    # Removing html tags
    sentence = remove_tags(sen)

    # Remove punctuations and numbers
    sentence = re.sub('[^a-zA-Z]', ' ', sentence)

    # Single character removal
    sentence = re.sub(r"\s+[a-zA-Z]\s+", ' ', sentence)

    # Removing multiple spaces
    sentence = re.sub(r'\s+', ' ', sentence)

    return sentence

In [16]:
TAG_RE = re.compile(r'<[^>]+>')

def remove_tags(text):
    return TAG_RE.sub('', text)

In [18]:
dfs["reviews"]=dfs["reviews"].apply(preprocess_text)

In [19]:
dfs["reviews"]=dfs["reviews"].apply(remove_tags)

In [20]:
dfs["reviews"]

0        When least you think so this product will save...
1        Lithium batteries are something new introduced...
2        I purchased this swing for my baby She is mont...
3        I was looking for an inexpensive desk calcolat...
4        I only use it twice week and the results are g...
                               ...
20995    I bought these for work have high arches so us...
20996    Crocs are one of only two brands of shoes that...
20997    I love moccasins This fit like it was custom m...
20998    I wish these were little more durable got it c...
20999    I ve been looking for replacement for my belov...
Name: reviews, Length: 21000, dtype: object